{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Everything Shop</title>
<meta charset="iso-8859-1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--[if IE 6]><link href="css/ie6.css" rel="stylesheet" type="text/css"><![endif]-->
<!--[if IE 7]><link href="css/ie7.css" rel="stylesheet" type="text/css"><![endif]-->
</head>
<body>
<div id="header">
  <ul class="navigation">
               {% if user.is_authenticated %}
                <li class="active"><a href="{% url 'main' %}">Home</a></li>
                <li><a href="{% url 'Shop:products_list' %}">Product list</a></li>
                <li><a href="{% url 'Common:password_reset' %}">Password Reset</a></li>
                <li><a href="{% url 'Common:logout' %}">Logout</a></li>
               {% else %}
                <li class="active"><a href="{% url 'main' %}">Home</a></li>
                <li><a href="{% url 'Shop:products_list' %}">Product list</a></li>
                <li><a href="{% url 'Common:login' %}">Login</a></li>
                <li><a href="{% url 'Common:register' %}">Register</a></li>
               {% endif %}
  </ul>
</div>
<div id="body"><br>

    {% block content %}

    {% endblock content %}

  <div class="banner">&nbsp;</div>

<div id="footer">
  <div id="footnote">
    <div class="section">Copyright &copy; 2012 <a href="#">Company Name</a> All rights reserved | Website Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">freewebsitetemplates.com</a></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
