{% extends "base.html" %}


{% load crispy_forms_tags %}
{% block content %}
<form action="#" method="GET" id="form_page" onsubmit="return check_change()">
    {%if paginator %}
        {% include "pagination.html" %}
    {% endif %}
    {% include "search_box.html" %}
</form>
       {% for product in products %}
       <article class="media content-section">
           <div class="media-body">
               <a class="nav-item nav-link" href="{% url 'Shop:product_info' product.id %}">{{ product.name }} - {{ product.category.name }}</a>
           </div>
       </article>
   {% endfor %}
{% endblock content %}

{#<h2>Our products</h2>#}
{#    <div class="row">#}
{#    {% include "search_listview/search_and_page.html" %}#}
{#    </div>#}
{##}
{#   {% for product in products %}#}
{#       <article class="media content-section">#}
{#           <div class="media-body">#}
{#               <a class="nav-item nav-link" href="{% url 'Shop:product_info' product.id %}">{{ product.name }} - {{ product.category.name }}</a>#}
{#           </div>#}
{#       </article>#}
{#   {% endfor %}#}
{#{% if is_paginated %}#}
{#  <ul class="pagination">#}
{#    {% if page_obj.has_previous %}#}
{#      <li><a href="?page={{ page_obj.previous_page_number }}">Previous page <--</a></li>#}
{#    {% else %}#}
{#      <li class="disabled"><span>&laquo;</span></li>#}
{#    {% endif %}#}
{#    {% for i in paginator.page_range %}#}
{#      {% if page_obj.number == i %}#}
{#        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#      {% else %}#}
{#        <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#      {% endif %}#}
{#    {% endfor %}#}
{#    {% if page_obj.has_next %}#}
{#      <li><a href="?page={{ page_obj.next_page_number }}">-->Next page<a></li>#}
{#    {% else %}#}
{#      <li class="disabled"><span>&raquo;</span></li>#}
{#    {% endif %}#}
{#  </ul>#}
{#{% endif %}#}