{% extends "base.html" %}
{% load imagekit %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
        <form action="#" method="GET" id="form_page" onsubmit="return check_change()">
    {%if paginator %}
        {% include "pagination.html" %}
    {% endif %}
</form>
    <center>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Producer</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
        {% if product.image %}
            <td><img width="60" height="60" src="{{ product.image.url }}"></td>
{#            <td><img src="{{ product.image_thumbnail.url }}"/></td>#}
{#            <td>{% thumbnail '100x50' product.image_thumbnail %}</td>#}
{#            <td>{% generateimage 'Shop:thumbnail' source=product.image_thumbnail %}</td>#}
            {% else %}
            <td><img width="60" height="60" src="/static/noimage.jpg"></td>
            {% endif %}
          <td><a href="{% url 'Shop:product_info' product.id %}">{{ product.name }}</a></td>
          <td>{{ product.producer }}</td>
          <td>{{ product.price }}</td>
            <td><a href="{% url 'Shop:edit_product' product.id %}">Edit</a></td>
            <td><a href="{% url 'Shop:delete_product' product.id %}">Delete</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
       {% endfor %}

    </tbody>
  </table>
    </center>
    <form action="#" method="GET" id="form_page" onsubmit="return check_change()">
    {%if paginator %}
        {% include "pagination.html" %}
    {% endif %}
</form>
{% endblock content %}

